.side-chat
  .side-header
    .side-header__user--info
      .info__user--name
        test
      .info__user--icon
        %i.fa.fa-edit
        %i.fa.fa-cog
  .side-bar__group--list
    .group
      .group__name
        目黒家
      .group__message
        工事中
.side-chat
  .side-chat__header

.side-chat
  .headrer 